<!-- teachers -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section-title">Directors</h2>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="images/dir2.jpeg" alt="teacher">
          <div class="card-body">
            
              <h4 class="card-title">Anushiya begam</h4>
            </a>
            <p>CEO</p>
            
          </div>
        </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="images/dir1.jpeg" alt="teacher">
          <div class="card-body">
            
              <h4 class="card-title">Nived biswas</h4>
            </a>
            <p>COO</p>
            
          </div>
        </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="images/dir3.jpeg" alt="teacher">
          <div class="card-body">
            
              <h4 class="card-title">MD Irfan</h4>
            </a>
            <p>CFO</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /teachers -->